/* Carrusel - Municipios */

:root{
    --texto-principal: #000;
    --texto-secundario: #FFF;
    --principal-color: #AB0A3D;
    --secundario-color: #440412;
    --hover-color: #FFC845;
}
nav{
    box-shadow: none;
}
nav ul a{
    padding: 0;
}
nav i{
    height: auto;
    font-size: 22px;
}
ul:not(.browser-default){
    padding: 4.4rem;
}
.titulo {
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
    background-image: linear-gradient(to top, var(--secundario-color) 0%, var(--principal-color) 100%);
    color: var(--texto-secundario);
    padding: 10px;
    border-radius: 50px;
}
.subtitulo {
    margin: 0;
    color: var(--texto-principal);
    display: inline;
    font-size: 35px;
    font-weight: 700;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
}
.minisub { 
    color: var(--texto-principal);
    margin: 7px 0;
    font-size: 50px;
    font-weight: 600;
    margin-top: 0;
    text-align: center;
}
.minisub:hover{
    color: var(--hover-color);
}
.linea-division {
    width: 80%;
    height: 2px;
    background-color: var(--texto-principal);
}
.container-municipio {
    width: auto;
    margin: 0 auto;
    position: relative;
} 

/*Estilos del carrusel*/

.carousel{
    min-height: 550px;
}
.carousel .carousel-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 300px;
    height: 450px;
} 
.carousel .carousel-item img{
    width: 100%;
    height: 70%;
    transform: scale(0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 20px;
}
.carousel .indicators .indicator-item{
    border-radius: 0;
    transform: rotate(45deg);
    margin: 0 15px;
    background-color:var(--principal-color);
}
.carousel .indicators .indicator-item.active{
    background-color: var(--hover-color);
}
@media (max-width: 700px) {
    .carousel{
        height: 620px;
    }
}
