/*Paneles (Stand) - Genelares*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root{
    --escuela-color: #E2EBF0;
	--h1-titulo: #494B4D;
	--h1-after: #C7C7C7;
    --texto-principal: #000;
    --texto-secundario: #FFF;
    --principal-color: #AB0A3D;
	--secundario-color: #440412;
    --hover-color: #FFC845;
	--product-list: #2D3E50;
	--h3-degradado1: #CFD9DF;
	--h3-degradado2: #E2EBF0;
}
iframe{
    height: 350px;
    width: 55%;
	padding: 30px; 
}
embed{
    width: 55%;
    height: 450px; 
	padding: 30px; 
}

/*Contenedores*/

.container-municipio {
    width: auto;
    margin: 0 auto;
    position: relative;
}
.container-contenido{
    width: 100%;
    padding: 0;
    position: relative;
    text-align: center;
}
.container-contenido h2{
    font-size: 40px;
    background-image: linear-gradient(to top, var(--secundario-color) 0%, var(--principal-color) 100%);
    border-radius: 50px;
	width: 92%;
    padding: 10px;
    color: var(--escuela-color);
	margin: auto;
	text-align: center;
}
.container-contenido h3{
    font-size: 28px;
    padding: 20px;
    background-image: linear-gradient(to top, var(--h3-degradado1) 0%, var(--h3-degradado2) 100%);
    border-radius: 25px;
}

/*Sección - Bienvenidos*/

.bienvenidos {
	margin-top: 100px;
}
.bienvenidos iframe, .oferta-educativa iframe, 
.becas iframe, .casos_de_exito iframe{
    margin: 20px;
}

/*Sección - Galeria*/

.wrap{
	width: 100%;
	margin: auto;
}
.wrap h1{
	color: var(--h1-titulo);
	font-size: 30px;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px 0px;
}
.wrap h1:after{
	content: '';
	width: 100%;
	height: 1px;
	background: var(--h1-after);
	margin: 20px 0;
}
.store-wrapper{
	display: flex;
	flex-wrap: wrap;
	margin-left: 10%;
	margin-right: 10%;
}
.category_list{
	display: flex;
	flex-direction: column;
	width: 18%;
	padding: 20px;
}
.category_list .category_item{
	display: block;
	width: 90%;
	padding: 15px 0;
	margin-bottom: 20px;
	background: var(--principal-color);
	text-align: center;
	text-decoration: none;
	color: var(--texto-secundario);
    border-radius: 25px;
}
.category_list .ct_item-active{
	background: var(--hover-color);
	color: var(--texto-principal);
}

/* Imagenes - Galeria*/

.products-list{
	width: 82%;
	display: flex;
	flex-wrap: wrap;
}
.products-list .product-item{
	width: 22%;
	margin-left: 3%;
	margin-bottom: 25px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;
	transition: all .4s;
	object-fit: cover;
}
.products-list .product-item img{
	width: 100%;
	height: 100px;
	object-fit: cover;
}
.products-list .product-item img:hover{
    transform: scale(1.2);
    transition: all ease 1.5s;
    cursor: pointer;
}
.products-list .product-item a{
	display: block;
	width: 100%;
	padding: 8px 0;
	background: var(--product-list);

	color: var(--texto-secundario);
	text-align: center;
	text-decoration: none;
}

/*Lightbox*/

.lightbox{
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.9);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
	z-index: 99;
}
.lightbox img{
	width: 100%;
	max-width: 700px;
	height: 100%;
	max-height: 500px;
	object-fit: cover;
	border: 5px solid var(--texto-secundario);
}
.lightbox span{
	position: absolute;
	top: 5%;
	right: 5%;
	font-size: 35px;
	color: var(--texto-secundario);
	cursor: pointer;
}
.lightbox span:hover{
	color: var(--hover-color);
}

/*Sección - Contactos*/

.contactos, .direccion{
    font-size: 50px;
}
.box-direccion{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.box-direccion .box {
    height: 170px;
    /* width: 270px; */
    text-align: center;
    margin: 20px;
}
.box-direccion .box p {
    padding: 0 15px;
    font-size: 20px;
	text-align: center;
}
.social-prepa{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
	margin-bottom: 25px;
}
.social-prepa li{
    list-style: none;
}
.social-prepa li a{
    font-size: 2em;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    color: var(--texto-principal);
}
.social-prepa li a:hover{
    transform: translate(-10px);
    color: var(--hover-color);
}
.map{
	margin-top: -40px;
	margin-bottom: 30px;
}

/*Responsive Desing*/

@media screen and (max-width: 1100px){
	.products-list .product-item{
		width: 30.3%;
	}
}
@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}
	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}
	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}
	.products-list .product-item{
		margin-left: 4.5%;
	}
	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
	}
}
@media screen and (max-width: 700px){
	.category_list{
		display: flex;
		flex-direction: column;
		margin-left: 25%;
	}
	.category_list .category_item{
		width: 60%;
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 600px){
	.products-list .product-item{
		width: 47.5%;
	}
	.products-list .product-item:nth-child(3n+1){
		margin-left: 4.5%;
	}
	.products-list .product-item:nth-child(2n+1){
		margin-left: 0px;
	}
}
@media screen and (max-width: 350px){
	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}
}