*{
    padding: 0;
    margin: 0;
}
.container {
    width: auto;
    margin: 0 auto;
    position: relative;
}
/*Entre Textos*/
.tase {
    background: url("img/banner.jpg") center no-repeat;
    background-size: cover;
}
.bn {
    min-height: 30vh;
    display: flex;
    align-items: center;
}
.heading {
    color: #000;
    font-size: 3.7rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
}
.texto-platillos{
    text-align: center;
    font-size: 5rem;
}
.botones-platillos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.botones-platillos button{
    flex: 0 0 calc(50% - 1rem);
    padding: 1rem 3rem;
}
@media screen and (min-width: 900px) {
    .heading {
        font-size: 4.7rem;
        letter-spacing: .8rem;
    }
}
@media(min-width: 768px) {
    .botones-platillos{
        display: inline-block;
    }
    .botones-platillos button{
        flex: unset;
    }
}
@media(min-width: 768px) {
    .platillos{
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
    }
}
.platillo{
    flex: 0 0 calc(33.3% - 1rem);
    border: 1px solid #e1e1e1;
    padding: 2rem;
    border-radius: 5px;
}
.platillo h2{
    text-align: center;
}
.platillo p{
    font-size: 1.8rem;
    text-align: center;
}
.separador{
    background-image: url('images/ensalada.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}
.separador::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: -1;
}
.contenido-separador{
    padding: 5rem;
}
.contenido-separador h2{
    font-size: 4rem;
    color: var(--blanco);
    text-align: center;
}
@media(min-width: 768px) {
    .contenido-separador h2{
        text-align: left;
        font-size: 5rem;
        color: var(--blanco);
    }
}
.contenido-separador p{
    color: var(--blanco);
    font-size: 3rem;
    text-align: center;
}
@media(min-width: 768px) {
    .contenido-separador p{
        text-align: left;
    }
}
